.calculator-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.calculator-row {
    display:flex;
    
}

button {
    flex: 1;
    padding: 20px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 5px;
    /* margin: 5px; */
}

button.wide {
    flex: 2.8;
}

.button-orange {
    background-color: #f5923e;
    color: #fff;
}

.button-grey {
    background-color: #e0e0e0;
}

.button-light-grey {
    background-color: #f8f8f8;
}

.display {
    background-color: black;
    
}